.content {
    background-color: #0099cc;
    color: #ffffff;
    text-align: left;
    font-size: 12px;
    padding: 5px;
    justify-content: space-between;
    margin: 15px 20px;
    border-radius: 25px;
    width: min(75%,100%);
}
.note{
    width: min(70%,100%);
}
.footer {
    background-color: #0099cc;
    text-align: center;
    font-size: 12px;
    padding: 50px;
    justify-content: space-between;
    
    width: min(100%,100%);
}

